body{
  margin: 0;
}
.legumes {
    background: black url(icons/vegetable.png) no-repeat 2px 2px;
    background-size: 24px 24px;
  }
  
  .viande {
    background: black url(icons/meat.png) no-repeat 2px 2px;
    background-size: 24px 24px;
  }
  
  .soupe {
    background: black url(icons/soup.png) no-repeat 2px 2px;
    background-size: 24px 24px;
  }
  .nutriA{
    color: rgb(249, 252, 250);
    background-color: rgb(5, 99, 37);
  }
  .nutriB{
    color: rgb(2, 4, 20);
    background-color: rgb(21, 230, 177);
  }
  .nutriC{
    color: rgb(4, 77, 28);
    background-color: rgb(232, 248, 12);
  }
  .nutriD{
    color: rgb(249, 252, 250);
    background-color: rgb(248, 184, 7);
  }
  .nutriE{
    color: rgb(249, 252, 250);
    background-color: rgb(228, 126, 100);
  }
  .nutriF{
    color: rgb(0, 12, 4);
    background-color: rgb(238, 232, 230);
  }
  .titre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    display: block;
    min-height: 72px;
  }